.footer {
  min-width: 100%;
  min-height: 40vh;
  display: grid;
  justify-items: center;
  background-color: hsl(0, 0%, 98%);
  background-image: url('../images/bg-pattern-footer-desktop.svg');
  background-position-x: left;
  background-repeat: no-repeat;
}
.container-footer {
  width: 78%;
}

.icons {
  float: right;
  margin: auto 10px;
}
.favicons {
  border-bottom: 2px solid black;
  padding-bottom: 30px;
  padding-top: 60px;
}
.container-footer__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
}
.links a {
  text-decoration: none;
  color: rgb(87, 80, 80);
}
.links a:hover,
.links a:active {
  color: rgb(0, 153, 255);
}
.title {
  color: hsl(273, 4%, 51%) !important;
  margin-bottom: 22px;
  margin-top: 30px;
}
.title:hover {
  color: rgb(0, 153, 255) !important;
}
.attribution {
  margin-top: 40px;
  margin-bottom: 25px;
  max-width: 100%;
}
.attribution a {
  color: rgb(0, 162, 255);
  text-decoration: none;
}
.attribution a:hover {
  color: blueviolet;
}
@media (max-width: 1000px) {
  .container-footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .container-footer {
    width: 100%;
    min-width: 360px;
  }
  .favicons {
    padding-left: 15px;
  }
  .attribution {
    padding: 20px;
  }
}
